In [11]:
import pandas as pd

In [12]:
columns = ["MPG", "Cylinders", "Displacement", "Horsepower", "Weight", "Acceleration", "Model Year", "Origin"]
df = pd.read_csv('auto_mpg.csv', header=0, names=columns)
df.head()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model Year,Origin
0,18.0,8,307.0,130.0,3504.0,12.0,70,India
1,15.0,8,350.0,165.0,3693.0,11.5,70,India
2,18.0,8,318.0,150.0,3436.0,11.0,70,India
3,16.0,8,304.0,150.0,3433.0,12.0,70,India
4,17.0,8,302.0,140.0,3449.0,10.5,70,India

## Initial exploration of data

In [13]:
# Display this information about data:
#   number of records and columns
#   names of columns
#   index column
#   data types of each column

In [14]:
df.shape

(398, 8)

In [15]:
print(df.columns, '\n')
print(df.columns.values, '\n')
print(df.columns.to_list())

Index(['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight',
       'Acceleration', 'Model Year', 'Origin'],
      dtype='object')

['MPG' 'Cylinders' 'Displacement' 'Horsepower' 'Weight' 'Acceleration'
 'Model Year' 'Origin']

['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight', 'Acceleration', 'Model Year', 'Origin']

In [16]:
df.index

RangeIndex(start=0, stop=398, step=1)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MPG           398 non-null    float64
 1   Cylinders     398 non-null    int64
 2   Displacement  398 non-null    float64
 3   Horsepower    392 non-null    float64
 4   Weight        398 non-null    float64
 5   Acceleration  398 non-null    float64
 6   Model Year    398 non-null    int64
 7   Origin        398 non-null    object
dtypes: float64(5), int64(2), object(1)
memory usage: 25.0+ KB