## data cleaning, unification of values in 'time' column

In [44]:
import pandas as pd

In [45]:
# Task:
# Correct the date types of the 'time' column by converting them into:
# Morning, Afternoon, Evening and Night classes.

In [46]:
df = pd.read_csv("./data/landslides.csv")
df.head()

,id,date,time,country_name,state/province,population,landslide_type,trigger,fatalities
0,34,3/2/07,Night,United States,Virginia,16000,Landslide,Rain,NaN
1,42,3/22/07,NaN,United States,Ohio,17288,Landslide,Rain,NaN
2,56,4/6/07,NaN,United States,Pennsylvania,15930,Landslide,Rain,NaN
3,59,4/14/07,NaN,Canada,Quebec,42786,Riverbank collapse,Rain,NaN
4,61,4/15/07,NaN,United States,Kentucky,6903,Landslide,Downpour,0.0

In [47]:
# adjusting the data (done in previous challenges)
df.dropna(subset='date', inplace=True) 
df['time'].fillna('Not Known', inplace=True)

In [48]:
# data in 'time' column are not unified,
# we need to unify them into: Morning, Afternoon, Evening and Night classes.
df['time'].value_counts().head(20)

time
Not Known        1064
Night              97
Morning            87
Afternoon          58
Early morning      36
3:00:00            12
Evening            10
19:00:00            9
evening             8
18:00:00            8
10:00:00            8
2:00:00             7
Late night          7
Overnight           6
23:30:00            6
15:00:00            6
16:00:00            6
5:00:00             6
12:00:00            5
21:00:00            5
Name: count, dtype: int64

In [49]:
# let's write our function
def rozlisuj(hodn):

    if ":" in hodn:
        posud = int(hodn.split(sep=":")[0])
        if posud >= 12 and posud < 18:
            return "Afternoon"

        if posud >= 18 and posud < 24:    
            return "Evening"

        if posud < 6:
            return "Night"

        if posud >= 6:
            return "Morning"
    
    if 'morning' in hodn:
        return 'Morning'
    
    if 'afternoon' in hodn:
        return 'Afternoon'
    
    if 'night' in hodn:
        return 'Night'

    if 'evening' in hodn:
        return 'Evening'

    if 'dawn' in hodn:
        return 'Night'
    
    if hodn not in ['Not Known', 'Night', 'Morning', 'Afternoon', 'Evening']:
        return 'Not Known'

    return hodn # if the value is already in correct format, no need to change.

In [50]:
# test
rozlisuj("9:40:00")

'Morning'

In [51]:
df['time'] = df['time'].apply(rozlisuj)

In [52]:
df['time'].value_counts() # now it looks better

time
Not Known    1067
Night         189
Morning       188
Afternoon     145
Evening       101
Name: count, dtype: int64

In [53]:
# done